<!-- extend from base layout -->
{% extends "flicket_base.html" %}
{% block content %}
    <!-- {{ self._TemplateReference__context.name }} -->
    <div class="container">

        {% include 'admin_menu.html' %}

        <div class="row border rounded m-2 p-2 bg-white">
            <div class="col text-right"><h2>{{ title }}</h2>
                <p>
                    {{ _('.برای ویرایش روی گروه کلیک کنید') }}
                </p>
            </div>
        </div>

        <div class="row border rounded bg-white m-2 p-2">
            <div class="col">
                <div class="row border-bottom m-2">
                    <div class="col">{{ _('نام گروه') }}</div>
                    <div class="col">{{ _('حذف') }}</div>
                </div>
                {%- for group in groups -%}
                    <div class="row m-2">
                        <div class="col">
                            <a href="{{ url_for('admin_bp.admin_edit_group', id=group.id) }}">
                                {{ group.group_name }}
                            </a>
                        </div>
                        <div class="col">
                            <a href="{{ url_for('admin_bp.admin_delete_group', id=group.id) }}">
                                {{ _('حذف') }}
                            </a>
                        </div>
                    </div>
                {%- endfor -%}

                <hr/>
                <h2 class="text-right">{{ _('اضافه کردن گروه') }}</h2>
                <form action="" method="post" name="add_group">
                    {{ form.hidden_tag() }}
                    <p class="text-right">
                        {{ _('.لطفا نام گروه را وارد کنید') }}
                    </p>
                    <div class="row mb-2">
                        <div class="col text-right">
                            {{ _('نام گروه') }}

                        </div>
                        <div class="col">
                            {{ form.group_name(size=(24)) }}
                            {% if form.group_name.errors %}
                                <span style="color: red;">
                            {% for error in form.group_name.errors %}
                                [{{ error }}]
                            {% endfor %}
                                </span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center">
                            <input class="btn btn-primary" type="submit" value="اضافه کردن"/></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}